<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lekcje</title>
</head>
<body>
<h1>Lekcje</h1>

<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Student</th>
        <th> Nauczyciel</th>
        <th> Termin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.student}"></td>
        <td th:text="${lesson.teacher}"></td>
        <td th:text="${lesson.term}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>